spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://152.136.235.203:3306/lair?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456
    druid:
      validation-query: select 1
      max-wait: 60000
      initial-size: 2
      max-active: 300
      test-on-borrow: false
      test-on-return: false
      test-while-idle: true
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.bigbear.*.dao
eureka:
  instance:
    instance-id: provider-service-${server.port}
    prefer-ip-address: true
  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      defaultZone: http://eureka1:9004/eureka
config-ersion: 1
